<div class="col-12">
    <div class="col-12 d-flex justify-content-center">
        <div class="head">
            <h1 class="title-colegio">By SchoolMe</h1>
            <img src="./logo-colegio.png" alt="" class="icon-colegio">    
        </div>
    </div>
    <div class="col-12">
        <p class="text-colegio">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Harum optio quibusdam distinctio quod soluta ipsa neque fugit dolore hic culpa rem facilis officiis, nostrum, architecto ipsam ut dicta? Ea, sint!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid similique libero optio esse voluptate, 
            doloremque cupiditate non a maxime veritatis sapiente delectus illum et, explicabo, velit tempore pariatur neque consectetur!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, culpa. Commodi possimus a odio porro laudantium officiis. Unde quas facere cum error vel voluptate, fugiat labore sapiente in a inventore?
        </p>
    </div>
    <div class="col-12 row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-6 d-flex justify-content-center">
                    <div class="target-information">
                        <mat-icon class="icon-infor">person</mat-icon>
                        <span>Personas</span>
                        <b>{{countRegister.persons}}</b>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <div class="target-information">
                        <mat-icon class="icon-infor">person</mat-icon>
                        <span>Docentes</span>
                        <b>{{ countRegister.teachers}}</b>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <div class="target-information">
                        <mat-icon class="icon-infor">person</mat-icon>
                        <span>Estudiantes</span>
                        <b>{{ countRegister.students}}</b>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <div class="target-information">
                        <mat-icon class="icon-infor">person</mat-icon>
                        <span>Acudientes</span>
                        <b>{{ countRegister.attendats}}</b>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="col-md-6">

            <img src="./colegio/foto-colegio-home.jpg" alt="" class="img-colegio">

        </div>
    </div>


</div>