<tui-root>
   <div class="container-fluid py-2 bg-dashboard">
    <div class="row g-3">

      <!-- Sidebar (móvil/tablet) -->
      <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebarOffcanvas" aria-labelledby="sidebarOffcanvasLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="sidebarOffcanvasLabel">Menú</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
        </div>
        <div class="offcanvas-body p-0">
          <nav class="list-group list-group-flush">

            <!-- Links simples -->
            <a href="#" class="list-group-item list-group-item-action">Inicio</a>
            <a href="#" class="list-group-item list-group-item-action">Perfil</a>

            <!-- Desplegable 1 (móvil) -->
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
              data-bs-toggle="collapse"
              href="#submenu1m"
              role="button"
              [attr.aria-expanded]="isOpen['submenu1m'] ? 'true' : 'false'">
              Configuración
              <span class="icon-toggle ms-2" [class.rotate]="isOpen['submenu1m']">&#9662;</span>
            </a>
            <div class="collapse" id="submenu1m">
              <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action ps-5">Cuenta</a>
                <a href="#" class="list-group-item list-group-item-action ps-5">Seguridad</a>
              </div>
            </div>

            <!-- Desplegable 2 (móvil) -->
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
              data-bs-toggle="collapse"
              href="#submenu2m"
              role="button"
              [attr.aria-expanded]="isOpen['submenu2m'] ? 'true' : 'false'">
              Reportes
              <span class="icon-toggle ms-2" [class.rotate]="isOpen['submenu2m']">&#9662;</span>
            </a>
            <div class="collapse" id="submenu2m">
              <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action ps-5">Mensuales</a>
                <a href="#" class="list-group-item list-group-item-action ps-5">Anuales</a>
              </div>
            </div>

          </nav>
        </div>
      </div>

      <!-- Sidebar (desktop) -->
      <aside class="d-none d-lg-block col-lg-2">
        <app-menu></app-menu>
      </aside>

      <!-- Main  contenido del dasboard -->
      <main class="col-12 col-lg-10">
        <!-- Topbar -->
        <div class="d-flex align-items-center gap-2 mb-3">

          <!-- Botón menú (móvil) -->
          <button class="btn btn-outline-dark d-lg-none box-outline px-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarOffcanvas">
            <mat-icon color="primary">menu</mat-icon>
          </button>

          <!-- Barra superior -->
          <div class="flex-grow-1 box-outline topbar d-flex align-items-center px-3">
            <!-- <input type="text" class="form-control form-control-sm" placeholder="Buscar…"> -->
            
          </div>

        </div>

        <!-- Contenido -->
        <section class="box-outline rounded content-area p-3">

          <!-- sirve el cotenido por medio de las ruta  -->
          <router-outlet></router-outlet>

        </section>
      </main>
    </div>
  </div>



</tui-root>


<!-- 
<mat-drawer-container class="container-page">
    <mat-drawer #slidebar mode="side" opened class="slidebar" [style.width.px]="250">
      <app-sidebar></app-sidebar>
    </mat-drawer>


    <mat-drawer-content class="main-container">
      <app-tolbar class="tolbar-nav"></app-tolbar>

      <div class="container">
        <div tuiAppearance="floating" tuiCardLarge class="card-template ms-3 mt-3 shadow">
      
            <router-outlet></router-outlet>
            <app-autorizado rol="admin">
              <ng-content autorizado>
                <div>autorizado</div>
              </ng-content>
              <ng-content noautorizado>
                <div>no autorizado</div>
              </ng-content>
            </app-autorizado>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container> -->