<nav>
  <mat-list>
    <div class="row">
      <div class="col-12 m-1">
        <mat-accordion>
          <mat-expansion-panel class="despegable-menu" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
              <mat-panel-title class="text-item">
                <mat-icon class="icon-item">manage_accounts</mat-icon>
                <span class="ms-1">administracion</span>
                
              </mat-panel-title>
            </mat-expansion-panel-header>
              <mat-list-item class="itme-slidebar m-2">
                <a routerLink="person">
                  <div class="row">
                    <div class="col-2">
                      <mat-icon class="icon-item">groups</mat-icon>
                    </div>
                    <div class="col-10 text-item">
                      <span>Person</span>
                    </div>
                  </div> 
                </a>
              </mat-list-item>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="col-12 m-1">
        <mat-accordion >
          <mat-expansion-panel class="despegable-menu" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
              <mat-panel-title class="text-item">
                <mat-icon class="icon-item">lock</mat-icon>
                <span class="ms-1">Security</span>
                
              </mat-panel-title>
              </mat-expansion-panel-header>
                <mat-list-item class="itme-slidebar m-2">
                  <a routerLink="user">
                    <div class="row">
                      <div class="col-2">
                        <mat-icon class="icon-item">person</mat-icon> <!--  icono -->
                      </div>
                      <div class="col-10 text-item">
                        <span>user</span>
                      </div>
                    </div> 
                  </a>
                </mat-list-item>
                <!-- <mat-list-item class="itme-slidebar m-2">
                  <a routerLink="/user">
                    <div class="row">
                      <div class="col-2">
                        <mat-icon class="icon-item">person</mat-icon>
                      </div>
                      <div class="col-10 text-item">
                        <span>Form</span>
                      </div>
                    </div> 
                  </a>
                </mat-list-item> -->
                
            </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="col-12 m-1">
        <mat-list-item class="itme-slidebar">
          <a mat-list-item routerLink="/person">
              <div class="row">
                <div class="col-2">
                  <mat-icon class="icon-item">help</mat-icon>
                </div>
                <div class="col-10 text-item">
                  <span>Ayuda</span>
                </div>
              </div>      
          </a>
        </mat-list-item>
      </div>
    </div>
  </mat-list>
</nav>
