<div class="box-outline sidebar-lg sticky-lg rounded p-0">
    <nav class="list-group list-group-flushs">
        <div class="col-12">
              <figure class="logo-sidebar">
                <img src="./logo-colegio.png" alt="Logo Colegio">
            </figure>
        </div>

        <!-- Links simples -->
        <a routerLink="/dashboard" class="list-group-item list-group-item-action">
            <!-- <div class="col-12"></div> -->

            <div class="col-12 row">
                <!-- icono -->
                <div class="col-2"><mat-icon color="primary">home</mat-icon> </div>

                <!-- label -->
                <div class="col-10 d-flex align-items-center">Home</div>
            </div>
            
        </a>
        
        <!-- <a href="#" class="list-group-item list-group-item-action">Perfil</a> -->

        <!-- El iniciador del despegalbe (MODULO) -->
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse"
            href="#submenu1"
            role="button"
            [attr.aria-expanded]="isOpen['submenu1'] ? 'true' : 'false'">

            <div class="col-12 row">
                <div class="col-2"><mat-icon color="primary">home</mat-icon> </div>
                <div class="col-10 d-flex align-items-center">Home</div>
            </div>
            <!-- Configuración -->

            <span class="icon-toggle ms-2 d-flex align-items-center" [class.rotate]="isOpen['submenu1']"><mat-icon color="primary">keyboard_arrow_down</mat-icon></span>
            
        </a>

        <!-- opciones del menu despegable -->
        <div class="collapse" id="submenu1">
            <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action ps-5">Cuenta</a>
            <a href="#" class="list-group-item list-group-item-action ps-5">Seguridad</a>
            </div>
        </div>
    </nav>
</div>