<header tuiHeader class="m-1">
  <h1 tuiTitle>
    <div class="col-12 d-flex">
      <span>Todos</span>
      <p class="count">{{ persons.length }} personas </p>
    </div>
    <!-- Todos <p class="count">{{ persons.length }} personas </p> -->
  </h1>
  <aside tuiAccessories>
    <div tuiAppearance="secondary" tuiButtonGroup>
      <a class="btn-add" routerLink="/dashboard/todos/crear">
        <mat-icon>add_circle</mat-icon>
        Crear persona
      </a>
    </div>
  </aside>
</header>

<section class="table-container">
  <!-- Tabs -->
  <div class="col-12 row ">
    <div class="col-6">
      <div class="tabs">
        <button [ngClass]="{'active' : idicadorActive}" (click)="cambiarStatus(1)" >Activos</button>
        <button [ngClass]="{'active' : idicadorActive == 0}" (click)="cambiarStatus(0)">Inactivos</button>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <!-- Buscador y filtro -->
      <div class="actions">
        <div class="search-box m-1">
          <mat-icon>search</mat-icon>
          <input
            #searchInput
            type="text"
            placeholder="Buscar..."
            (input)="onSearch(searchInput.value)"
          />
        </div>
        <!-- <button class="filter-btn">
          <mat-icon>filter_list</mat-icon> Filter
        </button> -->
      </div>
    </div>
  </div>

  <!-- Tabla -->
  <table class="custom-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Tipo</th>
        <th>Identificación</th>
        <th>Teléfono</th>
        <th>Status</th>
        <th class="text-center">Acción</th>
      </tr>
    </thead>
    <tbody>
      @for (item of paginatedPersons; track $index) {
        <tr>
          <td>{{ ($index + 1) + (currentPage - 1) * pageSize }}</td>
          <td>{{ item.fisrtName}} {{ item.secondName }}</td>
          <td>{{ item.lastName }} {{ item.secondLastName }}</td>
          <td>{{ item.acronymDocument }}</td>
          <td>{{ item.identification }}</td>
          <td>{{ item.phone }}</td>
          <td>
            <mat-slide-toggle
              [checked]="item.status === 1"
              (change)="logical($event, item.id)"
            ></mat-slide-toggle>
          </td>
          <td class="actions-col">
             <!-- routerLink="/dashboard/todos/editar/{{ item.id }}" -->
            <a mat-icon-button>
              <mat-icon  (click)="modalCommand('Actualización de datos')">edit</mat-icon>
            </a>
            <button
              mat-icon-button
              [swal]="{
                title: 'Confirmacion',
                text: '¿Deseas borrar este registro?',
                showCancelButton: true
              }"
              (confirm)="deleteRegister(item.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <mat-icon>more_vert</mat-icon>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <!-- Paginación -->
  <div class="pagination" *ngIf="totalPages > 1">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
      &lt;
    </button>

    <button
      *ngFor="let page of [].constructor(totalPages); let i = index"
      (click)="changePage(i + 1)"
      [class.active]="currentPage === i + 1"
    >
      {{ i + 1 }}
    </button>

    <button
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
    >
      &gt;
    </button>
  </div>
</section>

<!-- <button
  size="m"
  tuiButton
  tuiHint="Some text"
  tuiHintDirection="top"
  type="button"
  (click)="modalCommand('nada')"
>
    Show
</button> -->

<ng-template
    let-observer
    [tuiDialogOptions]="{label: titleForm, size: 'm'}"
    [(tuiDialog)]="open"
>




    <!-- <app-form-person [title]="title" [actionDescriptio]="'Actualizar'" [model]="model" (posteoForm)="editEntity($event)"></app-form-person> -->
    <!-- <div class="col-12">
      <button class="btn btn-primary ">holaaaa</button>
    </div> -->
    <!-- <form
        (ngSubmit)="observer.complete()"
    >
        <p>This abstracts away service and subscription</p>
        <tui-input
            formControlName="exampleControl"
            tuiAutoFocus
        >
            Some value
        </tui-input>
        <p>
            <button
                tuiButton
                type="submit"
            >
                Ok
            </button>
        </p>
    </form> -->
    <!-- <button
                tuiButton
                type="submit"
            >
                Ok
            </button> -->
</ng-template>
