<header tuiHeader>
    <h1 tuiTitle>
        {{title}}
    </h1>
</header>
<form (submit)="emitirValoresForm()" [formGroup]="form" class="form-page">
    <div class="col-md-6">
        <div class="row">
            <div class="col-6 p-2">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput [formControl]="form.controls.name"/>
                </mat-form-field>
            </div>
            <div class="col-6 p-2">
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput [formControl]="form.controls.lastName"/>
                </mat-form-field>
            </div>
            <div class="col-6 p-2">
                <mat-form-field appearance="outline">
                    <mat-label>email</mat-label>
                    <input type="email" matInput [formControl]="form.controls.email"/>
                </mat-form-field>
            </div>
            <div class="col-6 p-2">
                <mat-form-field appearance="outline">
                    <mat-label>identification</mat-label>
                    <input type="string" matInput [formControl]="form.controls.identification"/>
                </mat-form-field>
            </div>
            <div class="col-6 p-2">
                <mat-form-field appearance="outline">
                    <mat-label>age</mat-label>
                    <input type="number" matInput [formControl]="form.controls.age"/>
                </mat-form-field>
            </div>
            <div class="col-6">
                <label for="" class="form-label">Status</label>
                <br>
                <mat-slide-toggle [formControl]="form.controls.status" ></mat-slide-toggle>
            </div>
        </div>
    </div>

    <div>
        <button type="submit" class="m-1" mat-flat-button [disabled]="form.invalid">{{actionDescriptio}}</button>
        <a class="m-1" mat-stroked-button routerLink="/dashboard/person">cancelar</a>
    </div>
</form>
