<!-- <app-loader></app-loader> -->
<header tuiHeader>
    <h1 tuiTitle class="ms-4">
        {{title}}
    </h1>
</header>

<div class="col-12 row">
    <div class="col-md-8">
        <mat-stepper [linear]="isLinear" #stepper>

            <mat-step [stepControl]="form" [editable]="isEditable">
                <form [formGroup]="form" (submit)="createPerson()">
                    <!-- titulo -->
                    <ng-template matStepLabel>Registro de persona</ng-template>
                    <div class="row m-3">
                        <div class="col-md-4 p-1">
                            <tui-input tuiAutoFocus [formControl]="form.controls.fisrtName">
                                Primer nombre *
                            </tui-input>
                        </div>
                        <div class="col-md-4 p-1">
                            <tui-input tuiAutoFocus [formControl]="form.controls.secondName">
                                Segundo nombre
                            </tui-input>
                        </div>
                        <div class="col-md-4 p-1">
                            <tui-input tuiAutoFocus [formControl]="form.controls.lastName">
                                Primer apellido *
                            </tui-input>
                        </div>
                        <div class="col-md-4 p-1">
                            <tui-input tuiAutoFocus [formControl]="form.controls.secondLastName">
                                Segundo apellido
                            </tui-input>
                        </div>
                        <div class="col-md-4 p-1">
                            <tui-select
                                #select
                                [formControl]="form.controls.documentTypeId"
                                [stringify]="idToName"
                                [tuiTextfieldLabelOutside]="true"
                            >
                                Tipo documento
                                <tui-data-list *tuiDataList>
                                    <tui-opt-group>
                                        @for (item of documentTypeList; track $index) {
                                            <button
                                                tuiOption
                                                type="button"
                                                [value]="item.id"
                                            >
                                                {{ item.name }}
                                            </button>
                                        }
                                    </tui-opt-group>
                                </tui-data-list>
                            </tui-select>
                        </div>
                        <div class="col-md-4 p-1" [formControl]="form.controls.identification">
                            <tui-input-number >
                                N° identificación
                            </tui-input-number>
                        </div>
                        <div class="col-md-4 p-1" [formControl]="form.controls.phone">
                            <tui-input-number>
                                Telefono *
                            </tui-input-number>
                        </div>
            
                        <div class="col-md-4 p-1">
                            <tui-select
                                #select
                                [formControl]="form.controls.gender"
                                [stringify]="idToNameGender"
                                [tuiTextfieldLabelOutside]="true"
                            >
                                Genero
                                <tui-data-list *tuiDataList>
                                    <tui-opt-group>
                                        @for (item of generos; track $index) {
                                            <button
                                                tuiOption
                                                type="button"
                                                [value]="item.id"
                                            >
                                                {{ item.name }}
                                            </button>
                                        }
                                    </tui-opt-group>
                                </tui-data-list>
                            </tui-select>
                        </div>
                    </div> 
                    <div>
                        <button mat-button matStepperNext type="submit" [disabled]="form.invalid" >Siguiente</button>
                    </div>
                </form>
                
            </mat-step>

            <mat-step [stepControl]="formDataBasic" label="Datos basicos" [editable]="isEditable">
                <form [formGroup]="formDataBasic" (submit)="createDataBasic()">
                        <div class="row m-3">
                        <div class="col-md-4 p-1">
                            <tui-input type="text" tuiAutoFocus [formControl]="formDataBasic.controls.adress">
                                Dirección
                            </tui-input>

                            @if(formDataBasic.controls.adress.invalid && formDataBasic.controls.adress.touched){
                                <tui-error
                                    [error]="ObtenerErrorCampoAndres()"
                                />
                            }
                            <!-- <mat-error>{{ ObtenerErrorCampoAndres() }}</mat-error> -->
                        </div>
                        
                        <div class="col-md-4 p-1">
                            <tui-select
                                #select
                                [formControl]="formDataBasic.controls.departamentId"
                                [stringify]="idToNameDepartament"
                                [tuiTextfieldLabelOutside]="true"
                                (tuiValueChange)="cargarMunicipio()"
                            >
                                Departamento de residencia
                                <tui-data-list *tuiDataList>
                                    <tui-opt-group>
                                        @for (item of departaments; track $index) {
                                            <button
                                                tuiOption
                                                type="button"
                                                [value]="item.id"
                                            >
                                                {{ item.name }}
                                            </button>
                                        }
                                    </tui-opt-group>
                                </tui-data-list>
                            </tui-select>
                        </div>

                        
                        <div class="col-md-4 p-1">
                            <tui-select
                                #select
                                [formControl]="formDataBasic.controls.munisipalityId"
                                [stringify]="idToNameMunicipality"
                                [tuiTextfieldLabelOutside]="true"
                            >
                                Municipio de residencia
                                <tui-data-list *tuiDataList>
                                    <tui-opt-group>
                                        @for (item of municipality; track $index) {
                                            <button
                                                tuiOption
                                                type="button"
                                                [value]="item.id"
                                            >
                                                {{ item.name }}
                                            </button>
                                        }
                                    </tui-opt-group>
                                </tui-data-list>
                            </tui-select>
                        </div>

                        <div class="col-md-4 p-1">
                            <tui-input-date formControlName="testValue" tuiUnfinishedValidator="Finish filling the field" formControlName="brithDate">
                                Fecha de naciemiento
                            </tui-input-date>
                        </div>
                        
                        <div class="col-md-4 p-1">
                            <tui-select
                                #select
                                [formControl]="formDataBasic.controls.rhId"
                                [stringify]="idToNameRh"
                                [tuiTextfieldLabelOutside]="true"
                            >
                                Rh
                                <tui-data-list *tuiDataList>
                                    <tui-opt-group>
                                        @for (item of rhList; track $index) {
                                            <button
                                                tuiOption
                                                type="button"
                                                [value]="item.id"
                                            >
                                                {{ item.name }}
                                            </button>
                                        }
                                    </tui-opt-group>
                                </tui-data-list>
                            </tui-select>
                        </div>

                        <div class="col-md-4 p-1">
                            <tui-select
                                #select
                                [formControl]="formDataBasic.controls.materialStatusId"
                                [stringify]="idToNameStatus"
                                [tuiTextfieldLabelOutside]="true"
                            >
                                Estado civil
                                <tui-data-list *tuiDataList>
                                    <tui-opt-group>
                                        @for (item of statusCivil; track $index) {
                                            <button
                                                tuiOption
                                                type="button"
                                                [value]="item.id"
                                            >
                                                {{ item.name }}
                                            </button>
                                        }
                                    </tui-opt-group>
                                </tui-data-list>
                            </tui-select>
                        </div>

                        <div class="col-md-4 p-1">
                            <tui-select
                                #select
                                [formControl]="formDataBasic.controls.epsId"
                                [stringify]="idToNameEps"
                                [tuiTextfieldLabelOutside]="true"
                            >
                                Eps
                                <tui-data-list *tuiDataList>
                                    <tui-opt-group>
                                        @for (item of epsList; track $index) {
                                            <button
                                                tuiOption
                                                type="button"
                                                [value]="item.id"
                                            >
                                                {{ item.name }}
                                            </button>
                                        }
                                    </tui-opt-group>
                                </tui-data-list>
                            </tui-select>
                        </div>

                        <div class="col-md-4 p-1" >
                            <mat-checkbox class="example-margin" [formControl]="formDataBasic.controls.stratumStatus" >Tiene sisben</mat-checkbox>
                        </div>
                    </div>  

                    <div>
                        <button mat-button matStepperNext [disabled]="formDataBasic.invalid" type="submit">Siguiente</button>
                    </div>
                </form>
            </mat-step>
        
            <mat-step>
                <ng-template matStepLabel>Usuario</ng-template>


                <div class="col-md-12 m-3">
                    <label>
                        <!-- <input tuiCheckbox  type="checkbox" [formControl]="form.controls.activeUser"  size="s"   /> -->
                        <mat-checkbox class="example-margin" (change)="activacionUser()" [formControl]="activadorUser" >Activar usuario</mat-checkbox>
                        <!-- <span class="fs-6 ms-1">Activar usuario</span> -->
                    </label>
                </div>
                <div>
                    <button mat-button matStepperPrevious [disabled]="userForm.invalid" type="submit" form="formUser" >Registrar usuario</button>
                    <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
                </div>
            </mat-step>
        </mat-stepper>



        
            <!-- <mat-tab label="Datos de persona">
                
            </mat-tab> -->
        <!-- </div> -->
        
    </div>

    
    <div class="col-md-4 lat-user-active">
        @if(userView){
            <form [formGroup]="userForm" (submit)="createUser()" id="formUser">
                <div class="col-12 p-0">
                    <div class="col-12 d-flex justify-content-center m-2" >
                        <input type="file" hidden #inputPhoto [formControl]="userForm.controls.photo" (change)="onFileSelected($event)"> 
                        
                        <div class="container-photo">
                            <figure class="avatar-user">
                                <img [src]="previewUrl" alt="" >
                            </figure>
                            <div class="edit-photo">
                                <mat-icon class="icon-photo" (click)="inputPhoto.click()">flip_camera_ios</mat-icon>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-12 p-2">
                        <tui-input tuiAutoFocus type="email" [formControl]="userForm.controls.email">
                            Correo electronico
                        </tui-input>
                    </div>
                    <div class="col-12 p-2">
                        <tui-textfield > 
                            <label tuiLabel>Contraseña</label>
                            <input
                                placeholder="Minimo 8 carecteres"
                                tuiTextfield
                                type="password"
                                [formControl]="userForm.controls.password"
                            />
                            <tui-icon tuiPassword />
                        </tui-textfield>
                    </div>

                    <div class="col-12 p-2">
                        <!-- <button class="m-2" size="m" tuiButton type="button" appearance="accent" routerLink="/dashboard/todos">Cancerlar</button> -->
                    </div>
                </div>
            </form>
        }@else {
            <div class="col-12 d-flex justify-content-center mt-4 ">
                <tui-icon class="help-info" tuiTooltip="Active el usuario" />                        
                <div class="avatar-user-not">
                    <figure>
                        <img src="./icons/userNot.png" alt="">
                    </figure>
                </div>
            </div>
            <div class="col-12 mt-3">
                <p class="text-center text-app">No hay configuración para este usuario</p>
            </div>
        }
    </div>
</div>

<div>
    <!-- type="submit" -->
    <!-- <button class="m-1" size="l" tuiButton type="button" (click)="verData()" [disabled]="form.invalid">{{actionDescriptio}}</button> -->
    <button class="m-2" size="m" tuiButton type="button" appearance="accent" routerLink="/dashboard/todos">Cancerlar</button>
</div>


 